.non-clickable{
  pointer-events: none !important;
}

:root {

  --color-link-hover: #fff;

  --background-light: #fff;
  --color-text-light: #0c0f13;
  --background-dark: #0c0f13;
  --color-text-dark: #fff;
  --color-text-el-drak-bg:#fff;
  --color-text-el-light-bg:#0c0f13;

  // cursor颜色, FIXME: 为什么不需要根据dark/light调整？
  --cursor-color: white;

  // border-radius
  --main-border-radius:8px;

  // z-index
  --top-index: 99999;
  --the-top: 100000;

  // 使被转换的子元素保留其 3D 转换：
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

[data-user-color-scheme='light'] {
    --color-mode: 'light';
    --text-color: var(--color-text-light);
    --el-text-color: var(--color-text-el-drak-bg);
    --background-color: var(--background-light);
    --border-color: var(--border-light);


    // logo
    --logo-weight: 300;
    --logo-shadow: none;

    img {
      -webkit-filter: none;
      filter: none;
    }
}
[data-user-color-scheme='dark'] {
    --color-mode: 'dark';
    --text-color: var(--color-text-dark);
    --el-text-color: var(--color-text-el-light-bg);
    --background-color:var(--background-dark);
    --border-color: var(--border-dark);

    // logo
    --logo-weight: 600;
    --logo-shadow: 0 0 80px red, 0 0 30px firebrick, 0 0 6px darkred;
    
    // dark 模式降低亮度
    img {
      -webkit-filter: brightness(0.7);
      filter: brightness(0.7);
    }
}

// 弥补图片缩放产生的差异
// img{
//     image-rendering: -moz-crisp-edges; 
//     image-rendering: -o-crisp-edges; 
//     image-rendering: -webkit-optimize-contrast; 
//     image-rendering: crisp-edges; 
//     -ms-interpolation-mode: nearest-neighbor;
// }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  transition: background-color .5s;
  font-family: 'source-sans-pro', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.dark-filter { // 图片暗度滤镜
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}














.rw-words > span{
    position: absolute;
}

.rw-words::after{
    content: '.';
    width: 0;
    visibility: hidden; 
}

.rw-words-1 span{
	opacity: 0;
	color: #6b969d;
	-webkit-animation: rotateWord 12s ease-in infinite 0s;
	-ms-animation: rotateWord 12s ease-in infinite 0s;
	animation: rotateWord 12s ease-in infinite 0s;
}


.rw-words-2 span{
	opacity: 0;
	color: #6b969d;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}

.rw-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color: #6b889d;
}
.rw-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color: #6b739d;
}
.rw-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	color: #7a6b9d;
}
@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}