
@mixin color-scheme-dark {
    --color-scale-0: #001e2f;
    --color-scale-25: #143044;
    --color-scale-50: #576975;
    --color-scale-75: #e6f1f8;
    --color-scale-100: #ffffff;
  
    --color-brand-primary: #7a27ff;
    --color-brand-secondary: #26ffae;
    --color-brand-tertiary: #ed667b;
    --color-bg:#0c0f13;
}