
.tile__content {
    position: relative;
    bottom: 16vw;
    left: 0;
    width: 100%;
    transition: color .3s;
    .tile:hover & {
        @include hover(false) {
            color: #fff;
        }
    }
}

.tile__title {
    margin-left: -15%;
    margin-top: 10%;
    white-space: nowrap;
    font-size: 3vw;
}

.tile__cta {
    display: block;
    margin-top: 2vw;
    margin-left: 6.4%;
    line-height: 1.5;
    font-size: 1.5vw;
}

.title__offset {
    display: block;
    margin-left: 10%;
}

.btn-inline {
    border-bottom: .1rem solid;
}

@media (max-width: 920px) {
    .tile__title {
        margin-top: -12%;
        font-size: 6vw;
    }
    .tile__cta{
        font-size: 3vw;
    }
}


