.title {
    font-family: 'orpheuspro', serif;
    font-style: normal;
    text-transform: uppercase;
    &--medium {
        font-size: calc(2rem + 2.5vw);
    }
    &--large {
        font-size: calc(10rem + 3vw);
    }
}
